body {
  padding: 50px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  margin-top: 40px;
}

.form{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 15px 0px;
}

.form input[type="text"],input[type="email"],input[type="number"]{
  height: 17px;
  font-size: 14px;
}